html{
    background-color: #151213;
    font-family: 'Samsung One', Helvetica, Arial, sans-serif;
    color: #151213;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
}

main{
    margin:auto;
}

#devhublogo{
    width: 12em;
    margin: 1.5em;
}

.main-container{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    align-content: flex-start;
    margin: auto;
}

.main-header{
    display:flex;
    color:#FFFFFF;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    align-content: flex-start;
    width: 100%;
}

.header-section{
    position: absolute;
    z-index: 100;
    color: #FFFFFF;
    width: 100%;
}

.main-header_bg{
    background-image: url('../images/bg.jpg');
    filter: blur(5px) grayscale(20%) brightness(60%);
    background-size: cover;
    box-shadow: inset 1em 1em 5em 3em #231F20;
    position: absolute;
    height: 350px;
    z-index: 0;
    width: 100%;
    
}

.norm-section{
    margin:350px 1.5em 2em 1.5em;
    position:relative;
    z-index: 50;
    background-color: #FFFFFF;
    min-height: 100px;
    padding: 0em 1.5em 1.5em 1.5em;
    display: flex;
    flex-direction: column;
    border-radius: 2em 2em 2em 2em;
}

.norm-subSection_feed{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: stretch;
}

.feedItem{
    max-width: 45em;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20em;
    padding: .5em 1em 1em 1em;
}

.feed-item_image{
    border-radius: 25px;
    background-size:cover;
    height: 5em;
    width: 5em;
    float:left;
    margin: 1em 1em 1em 0em;
    box-shadow: 0px 1px 1px 1px #231F20;
}

.showcase-section{
    z-index: 60;
    padding: 2em;
}

.showcase-text{
    font-style: italic;
    color: silver;
}

.hamburger{
    font-size: 3em;
    position: absolute;
    left: 85%;
    top:0.5em;
    z-index: 110;
}

.titleIcon{
    width: 1em;
    padding-top:.3em;
}
